.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('../assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.banner-btn {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 60px;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-content {
  display: flex;
  align-items: center;
}

.button-content > span {
  margin-right: 10px;
}

.button-content .arrow-down svg {
  animation: moveDown 1.5s infinite;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
